.wrapper {
 border: 2px solid green;
}

.winText {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite, pulse 3s infinite;
  color: white;
  padding: 20px;
  border-radius: 35px;
  font-size: 50px;
  min-width: 50px;
  width: 300px;
  max-width: 50%;
  margin: 50% auto;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pulse {
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

.answer-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  h2 {
    font-size: 2rem;
    letter-spacing: 5px;
    &::first-letter {
    }
  }
}

.green  {
  color: hsl(120, 100%, 77%);
}

.red {
  color: hsl(0, 43%, 60%);
}

.neutral {
  color: hsl(180, 85%, 82%);
}

