:root {
  /* background-color: #0f172a; */
  background-color: rgb(34, 34, 34);
  color: rgb(197, 196, 196);
  padding: 0;
  margin: 0;
  border: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font-size: 62.5%;
}

html, body {
  height: 100%;
}

html, body, div {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* height: 100%; */
}

div#root {
  height: 100%; /* ! here important, so site takes all height!! */
}

@media (max-width: 500px) {
  :root {
    font-size: 30%;
  }
}
